

{% extends "::layout.html.twig" %}

{% block title %}
  Entre Vtc - {{ parent() }}
{% endblock %}

{% block body %}


  <p class="text-center">
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_add') }}"><i class="glyphicon glyphicon-pencil"></i> Ajouter une annonce</a>
{% if ( is_granted('ROLE_USER')) %}
        <a class="btn btn-info btn-md" href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Deconnexion</a>
{% else %}
<a class="btn btn-info btn-md" href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Connexion / Inscription</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_admin') }}"> ADMIN</a>
      {% endif %}

      	<a href="{{ path('vtc_platform_contact') }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-envelope"></i> Nous contacter
    </a>
        <a class="btn btn-info btn-md" href="{{ path('vtc_platform_myaccount') }}">
        	<i class="glyphicon glyphicon-home"></i> Mes annonces</a>
        <a href="{{ path('vtc_platform_home') }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
    </a>
    
      </p>
    </div>

  <hr>

  
  {% block ocplatform_body %}
  {% endblock %}

{% endblock %}