{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

 
    	
   <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1 class="text-center">Location de Vehicule Pour VTC</h1>
      <p class="text-center">
        Ce site à pour but de faciliter la location de vehicule apte aux metiers de VTC.
        <br />
      </p>
    </div>

 <p class="text-center">
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_add') }}"><i class="glyphicon glyphicon-pencil"></i> Ajouter une annonce</a>
{% if ( is_granted('ROLE_USER')) %}
        <a class="btn btn-primary btn-md" href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Deconnexion</a>
{% else %}
<a class="btn btn-primary btn-md" href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Connexion / Inscription</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_add') }}"> ADMIN</a>
      {% endif %}

        <a href="{{ path('vtc_platform_home') }}" class="btn btn-info">
      <i class="glyphicon glyphicon-envelope"></i> Nous contacter
    </a>
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_myaccount') }}">
          <i class="glyphicon glyphicon-home"></i> Mes annonces</a>
        <a href="{{ path('vtc_platform_home') }}" class="btn btn-info">
      <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
    </a>
    
      </p>
    </div>

    
      </p>
    </div>
  </div>
  <div class="text-center">
      <div class="text-center">
      <h3>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
    <h3>Desormais, vous pouvez postez vos annonces</h3>
     <p><a class="btn btn-success btn-md" href="{{ path('vtc_platform_add') }}">deposer une annonce</a></p>
    <p><a class="btn btn-primary btn-md" href="{{ path('vtc_platform_home') }}">retour au site</a></p>
</div>
 <footer>
      <p>Tout droits reservés © {{ 'now'|date('Y') }} Drive Safe.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>


{% endblock fos_user_content %}