{% trans_default_domain 'FOSUserBundle' %}
  <div class="container">
    <div id="header" class="jumbotron">
      <h1 class="text-center">The GoOd LoC</h1>
      <h2 class="text-center">location de vehicule apte a la profession de vtc</h2>
      <p class="text-center">
        Ce site à pour but de faciliter la mise en relation<br />
        entre les chauffeurs professionnels et les loueurs de vehicule apte au transport de personne.
        <br />
      </p>
       <p class="text-center">
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_add') }}"><i class="glyphicon glyphicon-pencil"></i> Ajouter une annonce</a>
{% if ( is_granted('ROLE_USER')) %}
        <a class="btn btn-info btn-md" href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Deconnexion</a>
{% else %}
<a class="btn btn-info btn-md" href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Connexion / Inscription</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-md" href="{{ path('vtc_platform_admin') }}"> ADMIN</a>
      {% endif %}

        <a href="{{ path('vtc_platform_contact') }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-envelope"></i> Nous contacter
    </a>
        <a class="btn btn-info btn-md" href="{{ path('vtc_platform_myaccount') }}">
          <i class="glyphicon glyphicon-home"></i> Mes annonces</a>
        <a href="{{ path('vtc_platform_home') }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
    </a>
    
      </p>
    </div>
    </div>
  <div class="text-center">

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <button type="submit" id="_submit" name="_submit" class="btn btn-success" value="value="{{ 'resetting.request.submit'|trans }} />Reinitialiser le mot de passe</button>
    </div>
</form>
<a class="btn btn-primary btn-lg" href="{{ path('vtc_platform_home') }}">Accueil</a>
</div>
