
<div>
      <h1>Location de Vehicule Pour VTC</h1>
      <p>
        Ce site à pour but de faciliter la location de vehicule apte aux metiers de VTC.
        <br />
      </p>
        <h3><a href="thegoodloc.fr">The GoOD LoC</a></h3>
    </div>



Bonjour {{ advert.user.username }} </br ></br >
Vous avez reçu un message concernant votre annonce sur TheGoodLoc " {{ advert.title }} " <br />
<a href="{{ path('vtc_platform_view', {'id': advert.id}) }}"> voir l'annonce </a> </br ></br >

Voici le Message :
" {{msg}} " </br ></br >
<h4> Coordonneés : </h4>
Nom : {{ name }} </br >
Voici son adresse mail : {{ mail }} </br >
et son numero de telephone: {{ phone }}</br >

La personne qui vous a contacter ne connais pas vos coordonnées tant que vous ne lui avez pas repondu</br ></br >

à bientôt,</br >
L'equipe The GoOd LoC 
