{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig 
{% form_theme form 'VTCAnnonceBundle:Form:error.html.twig' %}
#}

<h3>Formulaire d'annonce</h3>
<h5>Mettez le plus d'infos possible afin de ne pas être contacter inutilement</h5>
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.title) }}
     
      <div class="col-sm-3">
        {# Génération de l'input. #}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
 <h4>Caracteristiques du vehicule</h4></br>

	<div class="form-group">
      {{ form_label(form.dept, "Departement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.dept) }}
      <div class="col-sm-3">
        {{ form_widget(form.dept, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.categorie, "Categorie du Vehicule", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      <div class="col-sm-3">
        {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.modele, "Modele / Nom du Vehicule", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.modele) }}
      <div class="col-sm-3">
        {{ form_widget(form.modele, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.mois, "Date de mise en circulation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.mois) }}
      <div class="col-sm-1">
        {{ form_widget(form.mois,{'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-sm-1">
        {{ form_widget(form.annee, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    

    <div class="form-group">
      {{ form_label(form.energie, "Energie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.energie) }}
      <div class="col-sm-4">
        {{ form_widget(form.energie, {'test': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.kilometres, "Kilometres du Vehicule", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.kilometres) }}
      <div class="col-sm-2">
        {{ form_widget(form.kilometres, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.boitevitesse, "Boîte de vitesse", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.boitevitesse) }}
      <div class="col-sm-4">
        {{ form_widget(form.boitevitesse, {'test': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.assurance, "Assurance Transport de personne ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.assurance) }}
      <div class="col-sm-2">
        {{ form_widget(form.assurance, {'label_attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.interieur, "Interieur Vehicule", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.interieur) }}
      <div class="col-sm-4">
        {{ form_widget(form.interieur, {'label_attr': {'class': 'form-control'}}) }}
      </div>
    </div></br>
<h4>Caracteristiques de la location</h4></br>

<div class="form-group">
      {{ form_label(form.locjour, "Vehicule dispo à la journée ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      <div class="col-sm-1">
        {{ form_widget(form.locjour, {'label_attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_label(form.pricejour, "Si oui, indiquez le Prix à la journée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.pricejour) }}
      <div class="col-sm-1">
        {{ form_widget(form.pricejour, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.lochebdo, "Vehicule dispo à la semaine ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      <div class="col-sm-1">
        {{ form_widget(form.lochebdo, {'label_attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_label(form.pricehebdo, "Si oui, indiquez le Prix à la semaine", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.pricehebdo) }}
      <div class="col-sm-1">
        {{ form_widget(form.pricehebdo, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.locmensuel, "Vehicule dispo au mois ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      <div class="col-sm-1">
        {{ form_widget(form.locmensuel, {'label_attr': {'class': 'form-control'}}) }}
         {{ form_errors(form.locmensuel) }}
      </div>
      {{ form_label(form.pricemensuel, "Si oui, indiquez le Prix au mois", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.pricemensuel) }}
      <div class="col-sm-1">
        {{ form_widget(form.pricemensuel, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.doublagebool, "Vehicule Disponible en Doublage ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.doublagebool) }}
      <div class="col-sm-4">
        {{ form_widget(form.doublagebool, {'label_attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.kilometremax, "Kilometres Maximum", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.kilometremax) }}
      <div class="col-sm-2">
        {{ form_widget(form.kilometremax, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.comments, "Autres Infos", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.comments) }}
      <div class="col-sm-4">
        {{ form_widget(form.comments, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.images, "Enoyer Vos Photos (5 maximum) ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.images) }}
      <div class="col-sm-4">
        {{ form_widget(form.images, {'label_attr': {'class': 'form-control'}}) }}
      </div>
    </div>

{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

  {# Génération du label + error + widget pour un champ #}

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  

  
  
  {# Le formulaire reste inchangé #}
{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#vtc_annoncebundle_advert_images');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_image" class="btn btn-success">Ajouter une photo</a>');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addImage($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;
  

    
    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addImage($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addImage($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      if (index == 5) {
        alert('Vous avez atteint les 5 photos a telecharger')
        return;
      }

      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Photo n°' + (index+1))
          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
   <div  class="text-center">
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
  </div>
{{ form_rest(form) }}{# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
</form>