{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "VTCAnnonceBundle::layout.html.twig" %}


{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block ocplatform_body %}

<div class"row">
<div id="search" class="col-md-12">
  
 {{ render(controller("VTCAnnonceBundle:Advert:mysearch")) }}

</div>
</div>
  <h2>{{total}} annonces</h2>
<div id="annonces" class="col-md-8">

{% for advert in listAdverts %}

  <div class="thumbnail">


      <ol><ul><a href="{{ path('vtc_platform_view', {'id': advert.id}) }}"><h2>{{ advert.title }}</h2></a>                                               
 
  <h4>Modele : {{ advert.modele }}</h4>
  <h5>Categorie : {{ advert.categorie }}</h5>
  <h5>Departement : {{ advert.dept }} </h5>
  <h5>Kilometres Vehicule : {{ advert.kilometres }}
  <h5>Année : {{ advert.annee }}</h5>

  {% if advert.pricejour %}
  <h5>Prix : {{ advert.pricejour }}€ /jour </h5>
  {% endif %}
  {% if advert.pricehebdo %}
  <h5>Prix : {{ advert.pricehebdo }}€ /semaine </h5>
  {% endif %}
  {% if advert.pricemensuel %}
  <h5>Prix : {{ advert.pricemensuel }}€ /mois </h5>
  {% endif %}
  {% if advert.doublage == true %}
  Doublage possible  </br>
  {% endif %}
  annonce posté le {{ advert.date|date('d/m/Y') }}</br> 
  {% for img in advert.images|slice(0, 1) %}
 
       <img src="{{ img.webPath|imagine_filter('platform') }}"  alt="{{ img.alt }}"class="img-rounded"/>
       {% endfor %}   
</ul>
</ol> 

</div>
  {% endfor %}
  <div class="text-center">
  <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('vtc_platform_home', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
   </div>
   </div>

  <div id="menu" class="col-md-4">

        <h3>Dernières annonces</h3>
        {{ render(controller("VTCAnnonceBundle:Advert:menu")) }}
  </div>




{% endblock %}



